@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Tangerine&display=swap");

/* font-family: 'Tangerine', cursive; */ /* 이쁜 필기체 폰트 */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: linear-gradient(45deg, #c6517e, #433586);
  overflow: hidden;
}

.clipedBox {
  /* 박스 위치 조절 */
  position: absolute;
  top: 30%;
  left: 8%;

  /* 박스 사이즈 조절 */
  width: 800px;
  height: 600px;

  /* 회전 */
  transform: rotate(352deg);

  /* 모서리 */
}
.clipedBox video {
  position: absolute;
  width: 1000px;
  height: 800px;
  border-top-right-radius: 400px;
  border-bottom-left-radius: 400px;
}
.clipedBox .leftSide {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 60%;
  height: 120%;

  background: rgba(255, 255, 255, 0.9);
  mix-blend-mode: screen;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 8.5em;
  font-weight: 800;
  line-height: 1.4em;
  letter-spacing: -10px;
  text-transform: uppercase;
}
.clipedBox .leftSide h2 {
  transform: scaleY(1.2);
}
.clipedBox .leftSide h4 {
  font-size: 0.9em;
  line-height: 0.8em;
}
/* 비디오 사이즈 키우고, 오른쪽위, 왼쪽아래 border-radious 10%? 쯤 해놓고 배경을 연분홍, 연보라 그라데이션으로 */
